extends layout
block scripts
  script(src="/javascripts/history.js")
block content
  h1= title
  
  div.history-container
    div
      each tag in tags
        img('data-stamp-url' = '/history/' + tag)
    input(id="slider" type="range")
    div.current-timestamp
    a(href="#" id="play") PLAY