extends layout
block scripts
  script(src="/javascripts/history.js")
block content
  div.history-container
    div
      each tag in tags
        img('data-stamp-url' = '/history/' + tag)
    input(id="dateSlider" type="range", min=minDate, max=maxDate, value=currentDate, step=1)
    input(id="timeSlider" type="range", min=0, max=60*60*24, value=currentTime, step=60)
    div.current-timestamp
    div.controls
      div
        a(href="#" id="fb" class="glyphicon glyphicon-fast-backward")
        a(href="#" id="play" class="glyphicon glyphicon-play")
        a(href="#" id="ff" class="glyphicon glyphicon-fast-forward")
      div
        label
          input(id="skip-nights" type="checkbox")
          span
            |skip nights
