extends layout
block scripts
  script(src="/javascripts/history.js")
block content
  div.history-container
    div
      each tag in tags
        img('data-stamp-url' = '/history/' + tag)
    input(id="slider" type="range", min=minDate, max=maxDate, step=2500)
    div.current-timestamp
    div.controls
      div
        a(href="#" id="fb" class="glyphicon glyphicon-fast-backward")
        a(href="#" id="play" class="glyphicon glyphicon-play")
        a(href="#" id="ff" class="glyphicon glyphicon-fast-forward")
      div
        label
          input(id="skip-nights" type="checkbox")
          span
            |skip nights
