doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/components/rangeslider.js/dist/rangeslider.css')
    block styles
    script(src="components/jquery/dist/jquery.min.js")
    script(src="components/rangeslider.js/dist/rangeslider.js")
    block scripts
  body
    block content
