
@import 'nib'
@import url('http://fonts.googleapis.com/css?family=Quicksand')

global-reset()

main-color = #fa5b4d
background-color = #ffffff

body
  font-family 'Georgia'
  background-color background-color
  color #444

header
  font-family 'Quicksand'
  padding 50px 10px
  color #fff
  font-size 25px
  text-align center

.history-container
  img
    width 50%
    min-height 400px
    background-image url('http://placehold.it/940x529&text=notfound')
  input[type='range']
    width 100%
  .current-timestamp, .controls
    padding 0.5em 0 0 0.5em
    text-align center
