
@import 'nib'
@import url('http://fonts.googleapis.com/css?family=Quicksand')

global-reset()

main-color = #777777
background-color = #EEEEEE

body
  font-family 'Georgia'
  background-color background-color
  color #444

header
  font-family 'Quicksand'
  padding 50px 10px
  color #fff
  font-size 25px
  text-align center

.history-container
  padding 1em
  img
    width 50%
    min-height 400px
    margin-bottom 1em
    background-image url('http://placehold.it/400x400&text=loading')
  input[type='range']
    width 100%
  .rangeslider__fill
    background #444444
  .current-timestamp, .controls
    padding 1em 0 0 0.5em
    text-align center
  .controls
    font-size 2em
    color #000
    a
      text-decoration: none
      margin: 0 0.2em 0 0.2em
